name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Print secrets for debugging
        run: |
          echo "FIREBASE_API_KEY: ${{ secrets}}"
          echo "FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}"
          echo "TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}"
          echo "FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}"
          echo "OPEN_API_KEY: ${{ secrets.OPEN_API_KEY }}"

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Set environment variables
        run: |
          echo "VITE_FIREBASE_API_KEY=${{ secrets.FIREBASE_API_KEY }}" >> $GITHUB_ENV
          echo "VITE_TMDB_API_KEY=${{ secrets.TMDB_API_KEY }}" >> $GITHUB_ENV
          echo "VITE_FIREBASE_APP_ID=${{ secrets.FIREBASE_APP_ID }}" >> $GITHUB_ENV
          echo "VITE_OPEN_API_KEY=${{ secrets.OPEN_API_KEY }}" >> $GITHUB_ENV

          export VITE_FIREBASE_API_KEY=${{ secrets.FIREBASE_API_KEY }}
          export VITE_TMDB_API_KEY=${{ secrets.TMDB_API_KEY }}
          export VITE_FIREBASE_APP_ID=${{ secrets.FIREBASE_APP_ID }}
          export VITE_OPEN_API_KEY=${{ secrets.OPEN_API_KEY }}

      - name: Print environment variables
        run: env | grep VITE

      - name: Build project
        run: npm run build

      - name: Upload production-ready build files
        uses: actions/upload-artifact@v2
        with:
          name: production-files
          path: ./dist

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: production-files
          path: ./dist

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
